@page
@model UserCommentsModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.UserComments;
}

<h3>@ViewData["Title"]</h3>
@if( Model.Comments == null || Model.Comments.Count == 0)
{
	<div class="alert alert-info" role="alert">
		You have no comments yet.
	</div>
}
else
{
	<div class="row">
		<div class="col-md-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Comment</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
				@foreach (var comment in Model.Comments)
				{
					<tr>
						<td>@comment.Body</td>
						<td>
									<a asp-action="PostWithComments" asp-route-id="@comment.PostId" class="btn btn-primary">Go To Post</a>
							<a asp-action="DeleteComment" asp-route-id="@comment.CommentId" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
}

